<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head runat="server">
    <meta charset="UTF-8">
    <title></title>

    <script language="javascript" type="text/javascript" src="Scripts/jquery-1.7.1.js">

    </script>
    <style type="text/css">

        .con{width: 40%;height: 34em;margin-top:3em;  margin-left: 3em;border: thin solid #8EC172;float: left;}
        .con2{width: 40%;height: 17em;margin-top:3em; margin-right: 3em;border: thin solid #8EC172;float: right;}
        .con3{width: 40%;height: 13em;margin-top:4em; margin-right: 3em;border: thin solid #8EC172;float: right;}

    </style>
</head>



<div class="con" >
    丨活动背景丨<br>

    &emsp;大学生需要良好的心理素质，但更需要具备更加坚实的身体素质。上一届运动会，我校同学都积极参与其中，体验到了团结的力量，完成了对自身生理与心理上的极限挑战，
    得到了学校领导以及学生的一致好评，很好的提高了大学生的心理素质及身体素质。<br><br><br>

    丨活动目的丨<br>

    &emsp;1.运动会的开展，让学生们通过参与项目引导同学们树立团队的意识，一起体验运动的快乐，与同学间进行互动，打开心扉以参与者的态度来亲身体验参与到这个活动中；<br>

    &emsp;2.使同学们认识到自己的闪光点与不足，树立积极乐观的生活态度，绽放大学生该有的热情和活力，让大学的青春绽放光彩；<br>

    &emsp;3.提升大学生的团队合作意识及阳光健康的心理观念，使同学们在团队合作中坚定和增强克服挫折的信念和勇气，体会成功的喜悦，增强自信心，丰富我们的校园文化生活。<br>
    <br>
    <br>
    
    <span style="float: right">
    举办单位：太原理工大学<br><br>

    主办方：太原理工大学大学体育运动委员会<br><br>


    竞赛时间：2021年1月10号<br><br>

    参加学院：太原理工大学院级单位<br>
    </span>
</div>
<div class="con2">
    <center><span style="color: red;">*</span>竞赛规则<span style="color: red;">*</span></center><br>
    &emsp;<span style="color: red;">*</span>竞赛流程：学生登录系统->修改密码->网上报名项目<br>
    &emsp;<span style="color: red;">*</span>比赛当日，选手应提前10分钟到场等候开始<br>
    &emsp;<span style="color: red;">*</span>若比赛过程中出现运动员身体不适，应及时报告<br>
    &emsp;<span style="color: red;">*</span>坚持友谊第一比赛第二的原则<br>
    &emsp;<span style="color: red;">*</span>男子项目取前5名积分7,5,3,2,1<br>
    &emsp;<span style="color: red;">*</span>女子项目取前3名积分5,3,2<br>
    &emsp;<span style="color: red;">*</span>最后按照各学校男子团体，女子团体积分，各校总积分进行排名<br>
    &emsp;<span style="color: red;">*</span>若在比赛过程中发现有违规作弊，取消比赛成绩<br>
    &emsp;<span style="color: red;">*</span>爱护校园环境，在比赛场地不乱丢垃圾，保持场地的清 洁卫生。<br>
    &emsp;<span style="color: red;">*</span>注意安全，严防各种事故发生。<br>

</div>
<div class="con3">
    <center><span style="color: red;">*</span>通知公告<span style="color: red;">*</span></center><br>
    &emsp;<span style="color: red;">*</span><a href="/第29届运动会章程.docx" download="第29届运动会章程.docx">太原理工大学运动会章程.docx</a>
    <inline>--------2020-04-28</inline>
    <br><br>
    &emsp;<span style="color: red;">*</span><a href="/运动会注意事项以及运动小常识.doc" download="运动会注意事项以及运动小常识.doc">运动会注意事项以及运动小常识.doc</a>
    <inline>--------2020-04-28</inline>
    <br><br>
    &emsp;<span style="color: red;">*</span><a href="/参赛人员名单.docx" download="参赛人员名单.docx">参赛人员名单.docx</a>
    <inline>--------2020-04-27</inline>


</div>

</form>

</body>
</html>
