<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhu.mapper.StudentMapper">
    
    <select id="queryStu" resultType="Student">
        select * from student
    </select>

    <select id="queryStuById" resultType="Student">
        select * from student where id =#{id}
    </select>

    <select id="querySchool" resultType="Student">
        select distinct school from student
    </select>
<!--带条件查询不带id-->
    <select id="queryStuWithCondition" resultType="Student">
        select * from student where 1=1
        <if test="gender!=null and gender!=''">
            and gender=#{gender}
        </if>
        <if test="school!=null and school!=''">
            and school=#{school}
        </if>
    </select>
    <!--带条件查询带id-->
    <select id="queryStuWithCondition2" resultType="Student">
        select * from student where 1=1
        <if test="id!=null and id!=''">
            and id=#{id}
        </if>
        <if test="gender!=null and gender!=''">
            and gender=#{gender}
        </if>
        <if test="school!=null and school!=''">
            and school=#{school}
        </if>
    </select>

    <!--添加学生-->
    <insert id="addStu" parameterType="com.xhu.pojo.Student">
        insert into student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="school != null">
                school,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="password != null">
                password,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=CHAR},
            </if>
            <if test="school != null">
                #{school,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>

        </trim>
    </insert>

    <update id="updStu" parameterType="com.xhu.pojo.Student">
        update student
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=CHAR},
            </if>
            <if test="school != null">
                school = #{school,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="delStuById" parameterType="java.lang.Integer">
    delete from student
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <update id="updStuWithoutPassword" parameterType="com.xhu.pojo.Student">
        update student
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=CHAR},
            </if>
            <if test="school != null">
                school = #{school,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updStuWithPassword" parameterType="com.xhu.pojo.Student">
        update student
        <set>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>